@import '../extends';
@import '../variables';

.upSubcategories {
	display: flex;
	flex-direction: column;

	div {
		height: 100px;
		position: relative;

		.icon {
			position: absolute;
			top: 40px;
			left: 30px;
		}

		button {
			font-size: 1.125rem;
			color: $primary-color;
			background-color: $white;
			border: none;
			font-weight: bold;
			position: absolute;
			top: 40px;
			right: 30px;
			padding: 0;
		}
	}

	h1 {
		margin: 0 0 20px 30px;
		color: $black;
		font-size: 2rem;
	}
}

.subcategories {
	width: calc(100vw - 50px);
	height: 50px;
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	align-items: stretch;
	margin: 0 0 20px 30px;
	gap: 10px;
	justify-content: space-between;

	a {
		padding: 0 70px;
		position: relative;
		background-color: $white;
		border: 2px solid $black;
		color: $black;
		margin: 0;

		span {
			position: absolute;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
			width: 120px;
			font-size: .875rem;
			font-weight: 600;
			margin: 0;
			text-align: center;
		}
	}

	a:focus {
		background-color: $primary-color;
		color: $white;
	}
}
.subcategories::-webkit-scrollbar {
	display: none;
}
.sortDiv {
	position: relative;
	z-index: 99;
	margin: 0;

	.sort {
		width: 130px;
		height: 50px;
		margin: 0 0 0 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		border: 2px solid $black;

		span {
			margin: 0 20px 0 0;
			font-weight: 600;
			font-size: .875rem;
			color: $black;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
				'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
		}
	}
	div {
		position: absolute;
		display: flex;
		flex-direction: column;
		margin: 0 0 20px 30px;
		background-color: $white;
		border: 2px solid $black;
		border-top: none;

		a {
			display: block;
			width: 170px;
			height: 25px;
			z-index: 999;
			margin: 10px 0 10px 20px;
			border: none;
			border-bottom: 1px solid $gray;
			padding: 0;
			background-color: $white;
			text-align: left;
			font-size: 0.9375em;
			color: $black;
			text-decoration: none;
		}

		button:nth-last-child(2) {
			border: none;
		}
		div {
			position: absolute;
			width: 60px;
			right: 0;
		}
		.ByNewest {
			font-weight: bold;
		}

		.ByCheapest {
			font-weight: bold;
		}

		.ByExpensive {
			font-weight: bold;
		}
	}
	//className = classNoneBorderBotton
	.noneBorderBotton {
		border-bottom: none;
	}
}
.allProducts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin: 50px 0;

	.product {
		width: 150px;
		height: 310px;
		background-color: $white;
		//box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 3px 11px -5px rgba(0, 0, 0, 0.3);
		position: relative;

		a {
			padding: 0;
			text-align: left;
			background-color: $white;
			border: none;
			margin: 0;
			text-decoration: none;

			.image {
				img {
					width: 100%;
				}
			}
			.backgroundPurple {
				width: 280px;
				background-color: transparent;
				height: 260px;
				position: absolute;
				top: 0;
				opacity: .3;
				display: block;
				transition: all .1s ease-in-out;
				display: none;
			}

			.productStats {
				position: relative;
				width: 150px;
				height: 90px;
				transition: all .1s ease-in-out;

				div {
					width: calc(100% - 10px);
					overflow: hidden;

					h1,
					h2 {
						margin: 5px 0 0 10px;
						white-space: nowrap;
						font-size: .875rem;
						color: $black;
						text-overflow: ellipsis;
					}
				}

				h1 {
					font-weight: 600;
				}
				h2 {
					font-weight: 400;
				}

				span {
					font-size: 1rem;
					font-weight: 600;
					position: absolute;
					right: 15px;
					bottom: 10px;
					color: $black;
				}
			}
			.productOptions {
				display: none;
			}
		}
		a:focus {
			border: 1px solid rgba(0, 0, 0, 0.2);
		}
	}
}
//loader
.ldsRoller {
	display: block;
	position: relative;
	width: 80px;
	height: 100vh;
	margin: 25vh auto;

	div {
		animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		transform-origin: 40px 40px;
	}
	div:after {
		content: " ";
		display: block;
		position: absolute;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: $primary-color;
		margin: -4px 0 0 -4px;
	}
	div:nth-child(1) {
		animation-delay: -0.036s;
	}
	div:nth-child(1):after {
		top: 63px;
		left: 63px;
	}
	div:nth-child(2) {
		animation-delay: -0.072s;
	}
	div:nth-child(2):after {
		top: 68px;
		left: 56px;
	}
	div:nth-child(3) {
		animation-delay: -0.108s;
	}
	div:nth-child(3):after {
		top: 71px;
		left: 48px;
	}
	div:nth-child(4) {
		animation-delay: -0.144s;
	}
	div:nth-child(4):after {
		top: 72px;
		left: 40px;
	}
	div:nth-child(5) {
		animation-delay: -0.18s;
	}
	div:nth-child(5):after {
		top: 71px;
		left: 32px;
	}
	div:nth-child(6) {
		animation-delay: -0.216s;
	}
	div:nth-child(6):after {
		top: 68px;
		left: 24px;
	}
	div:nth-child(7) {
		animation-delay: -0.252s;
	}
	div:nth-child(7):after {
		top: 63px;
		left: 17px;
	}
	div:nth-child(8) {
		animation-delay: -0.288s;
	}
	div:nth-child(8):after {
		top: 56px;
		left: 12px;
	}
}
@keyframes ldsRoller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
//error
.error {
	color: $primary-color;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;

	h1 {
		margin: 20px;
	}

	.icon {
		font-size: 3rem;
	}
}

//slide div filter
.filtrDiv {
	position: absolute;
	top: 100vh;
	left: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	background-color: $gray;
	transition: transform .5s ease-in-out;
	flex-direction: column;
	gap: 10px;
	align-items: center;

	//inside filtr div
	.filtrTitle {
		width: 100vw;
		height: 50px;
		background-color: $white;
		border: .5px solid $dark-gray;
		border-left: none;
		position: relative;

		.x {
			width: 50px;
			height: 50px;
			background-color: $white;
			position: relative;
			border: none;
			border-right: .5px solid $dark-gray;
			box-sizing: border-box;
			float: left;
			padding: 0;
		}

		.x::before,
		.x:after {
			content: '';
			position: absolute;
			width: 25px;
			height: 1px;
			background-color: $black;
			border-radius: 2px;
			top: 25px;
			box-shadow: 0 0 2px 0 #ccc;
		}

		.x:before {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
			left: 11.7px;
		}
		.x:after {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			transform: rotate(-45deg);
			right: 11.7px;
		}
		h1 {
			margin: 0;
			font-size: 1.125rem;
			float: left;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 65px;
		}

		a {
			right: 10px;
			text-align: right;
			color: $primary-color;
			font-size: 1.125rem;
			color: $primary-color;
			background-color: $white;
			border: none;
			font-weight: bold;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			text-decoration: none;
		}
	}
	.filtrDisplay {
		width: 100vw;
		background-color: $white;
		border: .5px solid $dark-gray;
		border-left: none;
		overflow: hidden;

		h1 {
			font-size: 1.125rem;
			margin-left: 15px;
		}

		.left {
			display: none;
		}

		.right {
			display: none;
		}

		.displayElement {
			width: calc(100vw - 50px);
			height: 50px;
			overflow-x: scroll;
			overflow-y: hidden;
			display: flex;
			align-items: stretch;
			margin: 0 0 20px 30px;
			gap: 10px;
			justify-content: space-between;

			a {
				padding: 0 70px;
				position: relative;
				background-color: $white;
				border: 2px solid $dark-gray;
				color: $dark-gray;
				margin: 0;

				span {
					position: absolute;
					transform: translate(-50%, -50%);
					left: 50%;
					top: 50%;
					width: 120px;
					font-size: .875rem;
					font-weight: 600;
					margin: 0;
					text-align: center;
				}
			}

			a:focus {
				background-color: $white;
				color: $black;
				border-color: $black;
			}

			.focus {
				background-color: $white;
				color: $black;
				border-color: $black;
			}
		}
		div::-webkit-scrollbar {
			display: none;
		}
	}
	.resultButton {
		padding: 20px 0;
		position: relative;
		background-color: $white;
		border: 2px solid $dark-gray;
		color: $dark-gray;
		margin: 0;
		width: 50vw;

		span {
			position: absolute;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
			width: 140px;
			font-size: 1.125em;
			font-weight: 600;
			margin: 0;
		}
	}
	.onClickButtonResult {
		border: 2px solid $black;
		color: $black;
	}
}

//animation
.filtrDivVisible {
	transform: translate(0, -100vh);
	z-index: 999;
	visibility: visible;
}

.filtrDivInvisible {
	transform: translate(0, 100vh);
	visibility: hidden;
}

// .toTop {
// 	background-color: $black;
// 	width: 70px;
// 	height: 70px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	position: fixed;
// 	right: 20px;
// 	bottom: 20px;
// 	z-index: 100000;
// 	opacity: 0;

// 	.icon {
// 		color: $white;
// 		opacity: 1;
// 	}
// }

// .topTop.reveal {
// 	opacity: 1;
// }

@media (min-width: 1440px) {
	.items {
		position: relative;
	}
	.upSubcategories {
		h1 {
			margin: 0 0 0 70px;
		}

		div {
			button {
				top: 83px;
				right: 80px;
				border: 2px solid $black;
				padding: 11px 17px;
				color: $black;
				font-size: .875rem;
			}
		}
	}
	.subcategories {
		flex-direction: column;
		height: 235vh;
		width: 170px;
		position: absolute;
		margin: 40px 0 0 120px;
		padding: 0 0 10px 0;
		justify-content: flex-start;
		gap: 15px;

		a {
			border: none;
			padding: 0;
			text-decoration: none;

			span {
				width: 100% !important;
				position: relative !important;
				display: inline-block;
				text-align: left;
			}

			span:after {
				content: '';
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				height: 2px;
				bottom: -5px;
				left: 0;
				background-color: $primary-color;
				transform-origin: bottom right;
				transition: transform 0.25s ease-out;
			}

			span:hover:after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}

		a:focus {
			background-color: transparent;
			color: $black;
		}
	}

	.sortDiv {
		position: absolute;
		right: 150px;
		top: 80px;
		z-index: 100;
	}
	.allProducts {
		gap: 50px;
		width: 75vw;
		margin: 0 0 0 25vw;

		.product {
			width: 280px !important;
			height: 490px !important;

			.productStats {
				height: 80px !important;
				overflow: hidden;
				width: 280px !important;

				h1,
				h2 {
					margin: 10px 0 0 15px !important;
					font-size: 1.125rem !important;
				}

				h2 {
					margin: 5px 0 0 15px !important;
				}

				span {
					font-size: 1.5rem !important;
					right: 20px !important;
					top: 33px;
				}

				div {
					width: calc(100% - 95px) !important;
				}
			}

			.backgroundPurple {
				display: block !important;
			}

			.hover {
				width: 100%;
				height: 100%;
				z-index: 99;
				position: absolute;
				top: 0;
			}

			.hover:hover ~ .backgroundPurple {
				background-color: $primary-color !important;
			}

			.hover:hover ~ .productStats {
				height: 240px !important;
				transform: translate(0, -150px);
				background-color: $white;
			}

			.productOptions {
				display: block !important;

				h1 {
					position: absolute;
					font-size: 0.875rem !important;
					color: $primary-color !important;
				}

				h1:first-child {
					top: 90px;
				}

				.color {
					top: 140px;
				}

				div {
					position: absolute;
					width: 100%;
					left: 13px;
				}

				.sizes {
					top: 120px;

					span {
						position: static;
					}
				}

				.colors {
					top: 170px;

					span {
						position: static;
					}
				}

				span {
					font-weight: 400 !important;
					font-size: 0.875rem !important;
					margin: 2px;
					color: #b1b1b3 !important;
				}
			}
		}
	}

	.filtrDiv {
		.filtrTitle {
			a {
				color: $black;
			}

			a:hover {
				color: $primary-color;
			}
		}
		.filtrDisplay {
			.displayElement {
				width: calc(100vw - 80px);
				margin: 0 0 0 40px;
				position: relative;

				.left {
					display: block;
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					left: 0;
					background-color: $black;
					padding: 10px 20px;
					opacity: .5;
					color: $white;
				}

				.right {
					display: block;
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					right: 0;
					background-color: $black;
					padding: 10px 20px;
					opacity: .5;
					color: $white;
				}

				a {
					transition: transform 1s ease-in-out;
				}

				a:hover {
					background-color: $primary-color;
					color: $white;
					border-color: $black;
					transition: all .2s ease-in-out;
				}
			}
		}

		.resultButton:hover {
			background-color: $primary-color;
			color: $white;
			transition: all .2s ease-in-out;
		}
	}
}
