.upSubcategories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upSubcategories div {
  height: 100px;
  position: relative;
}

.upSubcategories div .icon {
  position: absolute;
  top: 40px;
  left: 30px;
}

.upSubcategories div button {
  font-size: 1.125rem;
  color: #6e00ff;
  background-color: #ffffff;
  border: none;
  font-weight: bold;
  position: absolute;
  top: 40px;
  right: 30px;
  padding: 0;
}

.upSubcategories h1 {
  margin: 0 0 20px 30px;
  color: #000000;
  font-size: 2rem;
}

.subcategories {
  width: calc(100vw - 50px);
  height: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 0 20px 30px;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subcategories a {
  padding: 0 70px;
  position: relative;
  background-color: #ffffff;
  border: 2px solid #000000;
  color: #000000;
  margin: 0;
}

.subcategories a span {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 120px;
  font-size: .875rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.subcategories a:focus {
  background-color: #6e00ff;
  color: #ffffff;
}

.subcategories::-webkit-scrollbar {
  display: none;
}

.sortDiv {
  position: relative;
  z-index: 99;
  margin: 0;
}

.sortDiv .sort {
  width: 130px;
  height: 50px;
  margin: 0 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 2px solid #000000;
}

.sortDiv .sort span {
  margin: 0 20px 0 0;
  font-weight: 600;
  font-size: .875rem;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.sortDiv div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 20px 30px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-top: none;
}

.sortDiv div a {
  display: block;
  width: 170px;
  height: 25px;
  z-index: 999;
  margin: 10px 0 10px 20px;
  border: none;
  border-bottom: 1px solid #efeff0;
  padding: 0;
  background-color: #ffffff;
  text-align: left;
  font-size: 0.9375em;
  color: #000000;
  text-decoration: none;
}

.sortDiv div button:nth-last-child(2) {
  border: none;
}

.sortDiv div div {
  position: absolute;
  width: 60px;
  right: 0;
}

.sortDiv div .ByNewest {
  font-weight: bold;
}

.sortDiv div .ByCheapest {
  font-weight: bold;
}

.sortDiv div .ByExpensive {
  font-weight: bold;
}

.sortDiv .noneBorderBotton {
  border-bottom: none;
}

.allProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin: 50px 0;
}

.allProducts .product {
  width: 150px;
  height: 310px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 11px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 11px -5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.allProducts .product a {
  padding: 0;
  text-align: left;
  background-color: #ffffff;
  border: none;
  margin: 0;
  text-decoration: none;
}

.allProducts .product a .image img {
  width: 100%;
}

.allProducts .product a .backgroundPurple {
  width: 280px;
  background-color: transparent;
  height: 260px;
  position: absolute;
  top: 0;
  opacity: .3;
  display: block;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  display: none;
}

.allProducts .product a .productStats {
  position: relative;
  width: 150px;
  height: 90px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.allProducts .product a .productStats div {
  width: calc(100% - 10px);
  overflow: hidden;
}

.allProducts .product a .productStats div h1,
.allProducts .product a .productStats div h2 {
  margin: 5px 0 0 10px;
  white-space: nowrap;
  font-size: .875rem;
  color: #000000;
  text-overflow: ellipsis;
}

.allProducts .product a .productStats h1 {
  font-weight: 600;
}

.allProducts .product a .productStats h2 {
  font-weight: 400;
}

.allProducts .product a .productStats span {
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: #000000;
}

.allProducts .product a .productOptions {
  display: none;
}

.allProducts .product a:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.ldsRoller {
  display: block;
  position: relative;
  width: 80px;
  height: 100vh;
  margin: 25vh auto;
}

.ldsRoller div {
  -webkit-animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.ldsRoller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #6e00ff;
  margin: -4px 0 0 -4px;
}

.ldsRoller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.ldsRoller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.ldsRoller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.ldsRoller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.ldsRoller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.ldsRoller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.ldsRoller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.ldsRoller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.ldsRoller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.ldsRoller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.ldsRoller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.ldsRoller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.ldsRoller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.ldsRoller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.ldsRoller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.ldsRoller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes ldsRoller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ldsRoller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.error {
  color: #6e00ff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

.error h1 {
  margin: 20px;
}

.error .icon {
  font-size: 3rem;
}

.filtrDiv {
  position: absolute;
  top: 100vh;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background-color: #efeff0;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filtrDiv .filtrTitle {
  width: 100vw;
  height: 50px;
  background-color: #ffffff;
  border: 0.5px solid #7e7e7e;
  border-left: none;
  position: relative;
}

.filtrDiv .filtrTitle .x {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  position: relative;
  border: none;
  border-right: 0.5px solid #7e7e7e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  padding: 0;
}

.filtrDiv .filtrTitle .x::before,
.filtrDiv .filtrTitle .x:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: #000000;
  border-radius: 2px;
  top: 25px;
  -webkit-box-shadow: 0 0 2px 0 #ccc;
          box-shadow: 0 0 2px 0 #ccc;
}

.filtrDiv .filtrTitle .x:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 11.7px;
}

.filtrDiv .filtrTitle .x:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 11.7px;
}

.filtrDiv .filtrTitle h1 {
  margin: 0;
  font-size: 1.125rem;
  float: left;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 65px;
}

.filtrDiv .filtrTitle a {
  right: 10px;
  text-align: right;
  color: #6e00ff;
  font-size: 1.125rem;
  color: #6e00ff;
  background-color: #ffffff;
  border: none;
  font-weight: bold;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-decoration: none;
}

.filtrDiv .filtrDisplay {
  width: 100vw;
  background-color: #ffffff;
  border: 0.5px solid #7e7e7e;
  border-left: none;
  overflow: hidden;
}

.filtrDiv .filtrDisplay h1 {
  font-size: 1.125rem;
  margin-left: 15px;
}

.filtrDiv .filtrDisplay .left {
  display: none;
}

.filtrDiv .filtrDisplay .right {
  display: none;
}

.filtrDiv .filtrDisplay .displayElement {
  width: calc(100vw - 50px);
  height: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 0 20px 30px;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filtrDiv .filtrDisplay .displayElement a {
  padding: 0 70px;
  position: relative;
  background-color: #ffffff;
  border: 2px solid #7e7e7e;
  color: #7e7e7e;
  margin: 0;
}

.filtrDiv .filtrDisplay .displayElement a span {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 120px;
  font-size: .875rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.filtrDiv .filtrDisplay .displayElement a:focus {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

.filtrDiv .filtrDisplay .displayElement .focus {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

.filtrDiv .filtrDisplay div::-webkit-scrollbar {
  display: none;
}

.filtrDiv .resultButton {
  padding: 20px 0;
  position: relative;
  background-color: #ffffff;
  border: 2px solid #7e7e7e;
  color: #7e7e7e;
  margin: 0;
  width: 50vw;
}

.filtrDiv .resultButton span {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 140px;
  font-size: 1.125em;
  font-weight: 600;
  margin: 0;
}

.filtrDiv .onClickButtonResult {
  border: 2px solid #000000;
  color: #000000;
}

.filtrDivVisible {
  -webkit-transform: translate(0, -100vh);
          transform: translate(0, -100vh);
  z-index: 999;
  visibility: visible;
}

.filtrDivInvisible {
  -webkit-transform: translate(0, 100vh);
          transform: translate(0, 100vh);
  visibility: hidden;
}

@media (min-width: 1440px) {
  .items {
    position: relative;
  }
  .upSubcategories h1 {
    margin: 0 0 0 70px;
  }
  .upSubcategories div button {
    top: 83px;
    right: 80px;
    border: 2px solid #000000;
    padding: 11px 17px;
    color: #000000;
    font-size: .875rem;
  }
  .subcategories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 235vh;
    width: 170px;
    position: absolute;
    margin: 40px 0 0 120px;
    padding: 0 0 10px 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 15px;
  }
  .subcategories a {
    border: none;
    padding: 0;
    text-decoration: none;
  }
  .subcategories a span {
    width: 100% !important;
    position: relative !important;
    display: inline-block;
    text-align: left;
  }
  .subcategories a span:after {
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #6e00ff;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }
  .subcategories a span:hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  .subcategories a:focus {
    background-color: transparent;
    color: #000000;
  }
  .sortDiv {
    position: absolute;
    right: 150px;
    top: 80px;
    z-index: 100;
  }
  .allProducts {
    gap: 50px;
    width: 75vw;
    margin: 0 0 0 25vw;
  }
  .allProducts .product {
    width: 280px !important;
    height: 490px !important;
  }
  .allProducts .product .productStats {
    height: 80px !important;
    overflow: hidden;
    width: 280px !important;
  }
  .allProducts .product .productStats h1,
  .allProducts .product .productStats h2 {
    margin: 10px 0 0 15px !important;
    font-size: 1.125rem !important;
  }
  .allProducts .product .productStats h2 {
    margin: 5px 0 0 15px !important;
  }
  .allProducts .product .productStats span {
    font-size: 1.5rem !important;
    right: 20px !important;
    top: 33px;
  }
  .allProducts .product .productStats div {
    width: calc(100% - 95px) !important;
  }
  .allProducts .product .backgroundPurple {
    display: block !important;
  }
  .allProducts .product .hover {
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
    top: 0;
  }
  .allProducts .product .hover:hover ~ .backgroundPurple {
    background-color: #6e00ff !important;
  }
  .allProducts .product .hover:hover ~ .productStats {
    height: 240px !important;
    -webkit-transform: translate(0, -150px);
            transform: translate(0, -150px);
    background-color: #ffffff;
  }
  .allProducts .product .productOptions {
    display: block !important;
  }
  .allProducts .product .productOptions h1 {
    position: absolute;
    font-size: 0.875rem !important;
    color: #6e00ff !important;
  }
  .allProducts .product .productOptions h1:first-child {
    top: 90px;
  }
  .allProducts .product .productOptions .color {
    top: 140px;
  }
  .allProducts .product .productOptions div {
    position: absolute;
    width: 100%;
    left: 13px;
  }
  .allProducts .product .productOptions .sizes {
    top: 120px;
  }
  .allProducts .product .productOptions .sizes span {
    position: static;
  }
  .allProducts .product .productOptions .colors {
    top: 170px;
  }
  .allProducts .product .productOptions .colors span {
    position: static;
  }
  .allProducts .product .productOptions span {
    font-weight: 400 !important;
    font-size: 0.875rem !important;
    margin: 2px;
    color: #b1b1b3 !important;
  }
  .filtrDiv .filtrTitle a {
    color: #000000;
  }
  .filtrDiv .filtrTitle a:hover {
    color: #6e00ff;
  }
  .filtrDiv .filtrDisplay .displayElement {
    width: calc(100vw - 80px);
    margin: 0 0 0 40px;
    position: relative;
  }
  .filtrDiv .filtrDisplay .displayElement .left {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: 0;
    background-color: #000000;
    padding: 10px 20px;
    opacity: .5;
    color: #ffffff;
  }
  .filtrDiv .filtrDisplay .displayElement .right {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 0;
    background-color: #000000;
    padding: 10px 20px;
    opacity: .5;
    color: #ffffff;
  }
  .filtrDiv .filtrDisplay .displayElement a {
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  }
  .filtrDiv .filtrDisplay .displayElement a:hover {
    background-color: #6e00ff;
    color: #ffffff;
    border-color: #000000;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .filtrDiv .resultButton:hover {
    background-color: #6e00ff;
    color: #ffffff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}
/*# sourceMappingURL=AllProductsMobile.css.map */