@import '../extends';
@import '../variables';

.upSubcategories {
	display: flex;
	flex-direction: column;

	div {
		height: 100px;
		position: relative;

		.icon {
			position: absolute;
			top: 40px;
			left: 30px;
		}

		button {
			font-size: 1.125rem;
			color: $primary-color;
			background-color: $white;
			border: none;
			font-weight: bold;
			position: absolute;
			top: 40px;
			right: 30px;
			padding: 0;
		}
	}
	.titleCategorie {
		background-color: $white;
		border: none;
		padding: 0;
		margin: 0;
		width: 150px;
		margin: 0 0 20px 30px;
		text-decoration: none;

		h1 {
			margin: 0;
			color: $black;
			font-size: 2rem;
		}
	}
}

.subcategories {
	width: calc(100vw - 50px);
	height: 50px;
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	align-items: stretch;
	margin: 0 0 20px 30px;
	gap: 10px;
	justify-content: space-between;

	a {
		padding: 0 70px;
		position: relative;
		background-color: $white;
		border: 2px solid $black;
		color: $black;
		margin: 0;

		span {
			position: absolute;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
			width: 120px;
			font-size: .850rem;
			font-weight: 600;
			margin: 0;
			text-align: center;
		}
	}

	a:focus {
		background-color: $primary-color;
		color: $white;
	}
}
.subcategories::-webkit-scrollbar {
	display: none;
}
.sortDiv {
	position: relative;
	z-index: 99;
	margin: 0;

	.sort {
		width: 130px;
		height: 50px;
		margin: 0 0 0 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		border: 2px solid $black;

		span {
			margin: 0 20px 0 0;
			font-weight: 600;
			font-size: .850rem;
			color: $black;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
				'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
		}
	}
	div {
		position: absolute;
		display: flex;
		flex-direction: column;
		margin: 0 0 20px 30px;
		background-color: $white;
		border: 2px solid $black;
		border-top: none;

		a {
			display: block;
			width: 170px;
			height: 25px;
			z-index: 999;
			margin: 10px 0 10px 20px;
			border: none;
			border-bottom: 1px solid $gray;
			padding: 0;
			background-color: $white;
			text-align: left;
			font-size: 0.9375em;
			color: $black;
			text-decoration: none;
		}

		button:nth-last-child(2) {
			border: none;
		}
		div {
			position: absolute;
			width: 60px;
			right: 0;
		}
		.ByNewest {
			font-weight: bold;
		}

		.ByCheapest {
			font-weight: bold;
		}

		.ByExpensive {
			font-weight: bold;
		}
	}
	//className = classNoneBorderBotton
	.noneBorderBotton {
		border-bottom: none;
	}
}
.allProducts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin: 50px 0;

	.product {
		width: 150px;
		height: 310px;
		background-color: $white;
		//box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 3px 11px -5px rgba(0, 0, 0, 0.3);
		position: relative;

		a {
			padding: 0;
			text-align: left;
			background-color: $white;
			border: none;
			margin: 0;
			text-decoration: none;

			.image {
				img {
					width: 100%;
				}
			}
			.backgroundPurple {
				width: 150px;
				background-color: $primary-color;
				height: 215px;
				position: absolute;
				top: 0;
				display: none;
			}

			.productStats {
				position: relative;
				width: 150px;
				height: 90px;

				div {
					width: calc(100% - 10px);
					overflow: hidden;

					h1,
					h2 {
						margin: 5px 0 0 10px;
						white-space: nowrap;
						font-size: .875rem;
						color: $black;
						text-overflow: ellipsis;
					}
				}

				h1 {
					font-weight: 600;
				}
				h2 {
					font-weight: 400;
				}

				span {
					font-size: 1rem;
					font-weight: 600;
					position: absolute;
					right: 15px;
					bottom: 10px;
					color: $black;
				}
			}
			.productOptions {
				display: none;
			}
		}
		a:focus {
			border: 1px solid rgba(0, 0, 0, 0.2);
		}
	}
}
//loader
.ldsRoller {
	display: block;
	position: relative;
	width: 80px;
	height: 100vh;
	margin: 25vh auto;

	div {
		animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		transform-origin: 40px 40px;
	}
	div:after {
		content: " ";
		display: block;
		position: absolute;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: $primary-color;
		margin: -4px 0 0 -4px;
	}
	div:nth-child(1) {
		animation-delay: -0.036s;
	}
	div:nth-child(1):after {
		top: 63px;
		left: 63px;
	}
	div:nth-child(2) {
		animation-delay: -0.072s;
	}
	div:nth-child(2):after {
		top: 68px;
		left: 56px;
	}
	div:nth-child(3) {
		animation-delay: -0.108s;
	}
	div:nth-child(3):after {
		top: 71px;
		left: 48px;
	}
	div:nth-child(4) {
		animation-delay: -0.144s;
	}
	div:nth-child(4):after {
		top: 72px;
		left: 40px;
	}
	div:nth-child(5) {
		animation-delay: -0.18s;
	}
	div:nth-child(5):after {
		top: 71px;
		left: 32px;
	}
	div:nth-child(6) {
		animation-delay: -0.216s;
	}
	div:nth-child(6):after {
		top: 68px;
		left: 24px;
	}
	div:nth-child(7) {
		animation-delay: -0.252s;
	}
	div:nth-child(7):after {
		top: 63px;
		left: 17px;
	}
	div:nth-child(8) {
		animation-delay: -0.288s;
	}
	div:nth-child(8):after {
		top: 56px;
		left: 12px;
	}
}
@keyframes ldsRoller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
//error
.error {
	color: $primary-color;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;

	h1 {
		margin: 20px;
	}

	.icon {
		font-size: 3rem;
	}
}

//slide div filter
.filtrDiv {
	position: absolute;
	top: 100vh;
	left: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	background-color: $gray;
	transition: transform .5s ease-in-out;
	flex-direction: column;
	gap: 10px;
	align-items: center;

	//inside filtr div
	.filtrTitle {
		width: 100vw;
		height: 50px;
		background-color: $white;
		border: .5px solid $dark-gray;
		border-left: none;
		position: relative;

		.x {
			width: 50px;
			height: 50px;
			background-color: $white;
			position: relative;
			border: none;
			border-right: .5px solid $dark-gray;
			box-sizing: border-box;
			float: left;
			padding: 0;
		}

		.x::before,
		.x:after {
			content: '';
			position: absolute;
			width: 25px;
			height: 1px;
			background-color: $black;
			border-radius: 2px;
			top: 25px;
			box-shadow: 0 0 2px 0 #ccc;
		}

		.x:before {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
			left: 11.7px;
		}
		.x:after {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			transform: rotate(-45deg);
			right: 11.7px;
		}
		h1 {
			margin: 0;
			font-size: 1.125rem;
			float: left;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 65px;
		}

		button:last-child {
			right: 10px;
			text-align: right;
			color: $primary-color;
			font-size: 1.125rem;
			color: $primary-color;
			background-color: $white;
			border: none;
			font-weight: bold;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	.filtrDisplay {
		width: 100vw;
		background-color: $white;
		border: .5px solid $dark-gray;
		border-left: none;
		overflow-x: scroll;

		h1 {
			font-size: 1.125rem;
			margin-left: 15px;
		}

		.displayElement {
			width: calc(100vw - 50px);
			height: 50px;
			overflow-x: scroll;
			overflow-y: hidden;
			display: flex;
			align-items: stretch;
			margin: 0 0 20px 30px;
			gap: 10px;
			justify-content: space-between;

			a {
				padding: 0 70px;
				position: relative;
				background-color: $white;
				border: 2px solid $dark-gray;
				color: $dark-gray;
				margin: 0;

				span {
					position: absolute;
					transform: translate(-50%, -50%);
					left: 50%;
					top: 50%;
					width: 120px;
					font-size: .850rem;
					font-weight: 600;
					margin: 0;
					text-align: center;
				}
			}

			a:focus {
				background-color: $primary-color;
				color: $white;
				border: 2px solid $black;
			}
		}
		div::-webkit-scrollbar {
			display: none;
		}
	}
	.resultButton {
		padding: 20px 0;
		position: relative;
		background-color: $white;
		border: 2px solid $dark-gray;
		color: $dark-gray;
		margin: 0;
		width: 50vw;

		span {
			position: absolute;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
			width: 140px;
			font-size: 1.125em;
			font-weight: 600;
			margin: 0;
		}
	}
	.onClickButtonResult {
		border: 2px solid $black;
		color: $black;
	}
}

//animation
.filtrDivVisible {
	transform: translate(0, -100vh);
	z-index: 999;
	visibility: visible;
}

.filtrDivInvisible {
	transform: translate(0, 100vh);
	visibility: hidden;
}
