.slider {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  border-top: 1px solid #000000;
}

.slider .slide {
  width: 100vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}

.desktopPhotos {
  display: none;
}

.description {
  background-color: #6e00ff;
  color: white;
  padding: 30px;
}

.description h2 {
  font-weight: 300;
  font-size: 1.250rem;
  margin: 0;
}

.description h1 {
  font-size: 1.250rem;
  margin-top: 5px;
  margin-bottom: 15px;
}

.description .selectSize {
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.description .selectSize .selectSizeButton {
  width: 100%;
  background-color: #ffffff;
  border: 3px solid #000000;
  color: #6e00ff;
  font-size: 1.125rem;
  height: 50px;
  position: absolute;
}

.description .selectSize .selectSizeButton span {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(0, -45%);
          transform: translate(0, -45%);
}

.description .selectSize .selectSizeButton .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0, -45%);
          transform: translate(0, -45%);
}

.description .selectSize div {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: translate(0, 100vh);
          transform: translate(0, 100vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.description .selectSize div .title {
  position: relative;
  bottom: 0;
  color: #000000;
  padding: 15px 30px 0;
  width: 100%;
  background-color: #ffffff;
  height: 35px;
  font-weight: bold;
  border-bottom: 10px solid #efeff0;
  z-index: 1;
  margin: 0;
  border-top: 1px solid #efeff0;
}

.description .selectSize div .x {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  position: absolute;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  right: 15px;
  z-index: 10;
  top: 5px;
}

.description .selectSize div .x::before,
.description .selectSize div .x:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: #000000;
  border-radius: 2px;
  top: 20px;
  -webkit-box-shadow: 0 0 2px 0 #ccc;
          box-shadow: 0 0 2px 0 #ccc;
}

.description .selectSize div .x:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 5px;
}

.description .selectSize div .x:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 5px;
}

.description .selectSize div .sizeButton {
  color: #000000;
  padding: 30px 20px;
  width: 40%;
  height: 10px;
  border: none;
  border-bottom: 1px solid #efeff0;
  margin: 0 15px 30px;
  background-color: #ffffff;
  text-align: left;
  font-size: .9375rem;
}

.description .selectSize .classSize {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.description .cart {
  width: 100%;
  background-color: #000000;
  border: none;
  color: #ffffff;
  font-size: 1.125rem;
  height: 50px;
  margin: 0 auto 65px;
  font-weight: 600;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  -webkit-transform: translate(0, 65px);
          transform: translate(0, 65px);
}

.description .cart span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.description .actived {
  cursor: not-allowed;
  background-color: #7e7e7e;
  opacity: 50%;
}

.details h1 {
  width: calc(100% - 60px);
  font-size: 1.125rem;
  background-color: #efeff0;
  margin: 0;
  padding: 15px 30px;
  border-bottom: 0.5px solid #7e7e7e;
}

.details .icon {
  display: none;
}

.details div {
  padding: 50px 30px;
  border-bottom: 0.5px solid #7e7e7e;
}

.details div h2 {
  font-size: .9375rem;
}

@media (min-width: 1440px) {
  .desktopView {
    display: block;
    position: relative;
    width: 100vw;
    height: 650px;
  }
  .desktopView .slider {
    width: 400px;
    border: none;
    height: 600px;
    position: absolute;
    top: 20px;
    left: 25%;
  }
  .desktopView .slider .slide {
    width: 400px;
  }
  .desktopView .desktopPhotos {
    position: absolute;
    top: 20px;
    left: 16.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    max-height: 600px;
    overflow-y: scroll;
  }
  .desktopView .desktopPhotos img {
    width: 100px;
    height: 100%;
  }
  .desktopView .desktopPhotos::-webkit-scrollbar {
    display: none;
  }
  .desktopView .description {
    width: 500px;
    position: absolute;
    top: 20px;
    left: 55%;
    height: 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #ffffff;
    z-index: 2;
  }
  .desktopView .description h2,
  .desktopView .description h1 {
    font-size: 1.75rem;
    color: #000000;
  }
  .desktopView .description .selectSize {
    margin-top: 70px;
  }
  .desktopView .description .selectSize div {
    width: 450px;
    left: 1%;
    border: 1px solid #000000;
    border-bottom: none;
  }
  .desktopView .details {
    position: absolute;
    top: 390px;
    left: 55%;
    padding: 30px;
    width: 500px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .desktopView .details h1 {
    z-index: 2;
    position: relative;
    border: none;
  }
  .desktopView .details .icon {
    position: absolute;
    top: 45px;
    right: 55px;
    z-index: 3;
    display: block;
  }
  .desktopView .details div {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: translate(0, -99.5%);
            transform: translate(0, -99.5%);
    background-color: #ffffff;
    z-index: 1;
    position: relative;
  }
  .desktopView .details .classDetails {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*# sourceMappingURL=DetailsProduct.css.map */