@import '../variables';
@import '../extends';

.slider {
	width: 100vw;
	height: 100%;
	display: flex;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: x mandatory;
	border-top: 1px solid $black;

	.slide {
		width: 100vw;
		flex-shrink: 0;
		height: 100%;
		scroll-snap-align: start;
		scroll-behavior: smooth;
	}
}
.slider::-webkit-scrollbar {
	display: none;
}

.desktopPhotos {
	display: none;
}

.description {
	background-color: $primary-color;
	color: white;
	padding: 30px;

	h2 {
		font-weight: 300;
		font-size: 1.250rem;
		margin: 0;
	}

	h1 {
		font-size: 1.250rem;
		margin-top: 5px;
		margin-bottom: 15px;
	}

	.selectSize {
		width: 100%;
		margin-top: 30px;
		position: relative;

		.selectSizeButton {
			width: 100%;
			background-color: $white;
			border: 3px solid $black;
			color: $primary-color;
			font-size: 1.125rem;
			height: 50px;
			position: absolute;

			span {
				position: absolute;
				top: 50%;
				left: 20px;
				transform: translate(0, -45%);
			}

			.icon {
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translate(0, -45%);
			}
		}

		div {
			width: 100vw;
			position: fixed;
			left: 0;
			bottom: 0;
			z-index: 999;
			transition: 1s ease-in-out;
			transform: translate(0, 100vh);
			display: flex;
			background-color: $white;
			flex-wrap: wrap;
			justify-content: flex-start;

			.title {
				position: relative;
				bottom: 0;
				color: $black;
				padding: 15px 30px 0;
				width: 100%;
				background-color: $white;
				height: 35px;
				font-weight: bold;
				border-bottom: 10px solid $gray;
				z-index: 1;
				margin: 0;
				border-top: 1px solid $gray;
			}

			.x {
				width: 35px;
				height: 35px;
				background-color: $white;
				position: absolute;
				border: none;
				box-sizing: border-box;
				padding: 0;
				right: 15px;
				z-index: 10;
				top: 5px;
			}

			.x::before,
			.x:after {
				content: '';
				position: absolute;
				width: 25px;
				height: 1px;
				background-color: $black;
				border-radius: 2px;
				top: 20px;
				box-shadow: 0 0 2px 0 #ccc;
			}

			.x:before {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				transform: rotate(45deg);
				left: 5px;
			}
			.x:after {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				transform: rotate(-45deg);
				right: 5px;
			}

			.sizeButton {
				color: $black;
				padding: 30px 20px;
				width: 40%;
				height: 10px;
				border: none;
				border-bottom: 1px solid $gray;
				margin: 0 15px 30px;
				background-color: $white;
				text-align: left;
				font-size: .9375rem;
			}
		}

		.classSize {
			transform: translate(0, 0);
		}
	}

	.cart {
		width: 100%;
		background-color: $black;
		border: none;
		color: $white;
		font-size: 1.125rem;
		height: 50px;
		margin: 0 auto 65px;
		font-weight: 600;
		position: relative;
		display: block;
		text-align: center;
		text-decoration: none;
		transform: translate(0, 65px);

		span {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.actived {
		cursor: not-allowed;
		background-color: $dark-gray;
		opacity: 50%;
	}
}

.details {
	h1 {
		width: calc(100% - 60px);
		font-size: 1.125rem;
		background-color: $gray;
		margin: 0;
		padding: 15px 30px;
		border-bottom: .5px solid $dark-gray;
	}

	.icon {
		display: none;
	}

	div {
		padding: 50px 30px;
		border-bottom: .5px solid $dark-gray;

		h2 {
			font-size: .9375rem;
		}
	}
}

@media (min-width: 1440px) {
	.desktopView {
		display: block;
		position: relative;
		width: 100vw;
		height: 650px;
		.slider {
			width: 400px;
			border: none;
			height: 600px;
			position: absolute;
			top: 20px;
			left: 25%;

			.slide {
				width: 400px;
			}
		}

		.desktopPhotos {
			position: absolute;
			top: 20px;
			left: 16.5%;
			display: flex;
			flex-direction: column;
			gap: 20px;
			max-height: 600px;
			overflow-y: scroll;

			img {
				width: 100px;
				height: 100%;
			}
		}

		.desktopPhotos::-webkit-scrollbar {
			display: none;
		}

		.description {
			width: 500px;
			position: absolute;
			top: 20px;
			left: 55%;
			height: 400px;
			box-sizing: border-box;
			background-color: $white;
			z-index: 2;

			h2,
			h1 {
				font-size: 1.75rem;
				color: $black;
			}

			.selectSize {
				margin-top: 70px;

				div {
					width: 450px;
					left: 1%;
					border: 1px solid $black;
					border-bottom: none;
				}
			}
		}

		.details {
			position: absolute;
			top: 390px;
			left: 55%;
			padding: 30px;
			width: 500px;
			box-sizing: border-box;

			h1 {
				z-index: 2;
				position: relative;
				border: none;
			}

			.icon {
				position: absolute;
				top: 45px;
				right: 55px;
				z-index: 3;
				display: block;
			}

			div {
				transition: all 1s ease-in-out;
				transform: translate(0, -99.5%);
				background-color: $white;
				z-index: 1;
				position: relative;
				// border-left: .5px solid $dark-gray;
				// border-right: .5px solid $dark-gray;
			}

			.classDetails {
				transform: translate(0, 0);
			}
		}
	}
}
