@import '../extends';
@import '../variables';

.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition: all 1s ease-in-out;
	position: relative;

	.link {
		height: 100px;
		z-index: 99;
		img {
			width: 100px;
			position: absolute;
			left: -15px;
		}
	}

	div {
		flex-grow: 2;
		text-align: right;

		.icon {
			margin: 0 10px;
		}
		.fa-user {
			margin-right: 30px;
		}
		span {
			position: absolute;
			width: 10px;
			height: 10px;
			background-color: $white;
			border-radius: 50%;
			top: 41.60px;
			right: 82px;
			color: $primary-color;
			font-size: .500rem;
			text-align: center;
		}
	}
}

.inputDiv {
	position: relative;
	border-top: solid 1px $black;
	.input {
		width: 100vw;
		border: none;
		padding: 10px 20px;
		font-size: 1.1rem;
		box-sizing: border-box;
		border-radius: 0;
	}
	//input clicked
	.input-active {
		padding: 15px 50px;
		border-top: none;
	}
	.icon {
		position: absolute;
		font-size: 1.5rem;
	}

	.right {
		top: 50%;
		right: 15px;
		transform: translate(0, -50%);
	}

	.left {
		top: 50%;
		left: 15px;
		transform: translate(0, -50%);
	}
}

//desktop screen
@media (min-width: 1440px) {
	.header {
		.link {
			height: 150px;
			img {
				left: 200px;
				top: 18px;
			}
		}

		div {
			margin: 0 150px 0 0;
			position: relative;

			span {
				width: 12px;
				height: 12px;
				top: 4.60px;
				right: 81px;
			}
		}
	}
	.inputDiv {
		border: none;
		position: static;
		.input {
			width: 50vw;
			position: absolute;
			top: 50px;
			left: 50%;
			transform: translate(-50%, 0);
			border-bottom: solid 1px $black;
		}
		.right {
			display: none;
		}
	}

	.inHeader {
		margin: 150px 50px !important;
		width: 100vw !important;
	}
}
