@import '../extends';
@import '../variables';

.interestingOffers {
	height: 550px;

	h1 {
		font-size: 1.5rem;
		margin: 50px 30px 5px;
	}
	h1:nth-child(2) {
		font-weight: 400;
		margin: 0 0 5px 30px;
	}
	.linkTO {
		color: $primary-color;
		margin: 20px 30px;
	}
}
