@import '../extends';
@import '../variables';

.interestingOffers {
	h1 {
		font-size: 1.5rem;
		margin: 50px 30px 5px;
	}
	h1:nth-child(2) {
		font-weight: 400;
		margin: 0 0 5px 30px;
	}
	.linkTO {
		color: $primary-color;
		margin: 20px 30px;
	}

	.allProducts {
		width: calc(100vw - 50px);
		height: 320px;
		overflow-x: scroll;
		overflow-y: hidden;
		display: flex;
		align-items: stretch;
		margin: 0 0 20px 30px;
		gap: 30px;
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	.allProducts::-webkit-scrollbar {
		display: none;
	}
}
