@import '../extends';
@import '../variables';

.newItem {
	background-color: $black;
	height: 550px;
	padding: 25px 0 0 25px;
	overflow: hidden;

	div {
		@extend %primary-color;
		opacity: 1;
		height: 550px;
		padding: 30px;
		box-sizing: border-box;
		border-top: 5px solid $white;
		border-left: 5px solid $white;
		color: $white;
		position: relative;
	}
	h1 {
		font-size: 1.5rem;
		margin: 5px 0;
	}
	h1:nth-child(2) {
		font-weight: 400;
	}
	.linkTO {
		font-size: 1.125rem;
	}
	img {
		width: 1000px;
		transform: rotate(-20deg);
		position: absolute;
		left: -155px;
		top: -50px;
		overflow: hidden;
	}
}
